<h2>What is CodeRack?</h2>

<p>CodeRack is a searchable directory of Rack middlewares. Upload,
search, rate, or simply browse the collection.</p>

<p>CodeRack is entirely a volunteer effort from the team at <%= link_to 'Lunar Logic Polska', 'http://lunarlogicpolska.com' %> &ndash; so bear with us as we work on this! Our aim is that the site
will be useful for the whole community &ndash; Rack is a beautiful thing and
we want to spread the word and be your number one destination for Rack
middlewares.</p>

<h2>What is Rack?</h2>

<p>Don't know what Rack is? From Rack documentation:</p>

<p class="quote">&ldquo;Rack provides a minimal, modular and adaptable interface for developing web applications in
Ruby. By wrapping HTTP requests and responses in the simplest way possible, it unifies and distills the API for web
servers, web frameworks, and software in between (the so-called middleware) into a single method call.&rdquo;</p>

<p>If you're a serious Ruby developer we recommend to <%= link_to 'read more', 'http://rack.rubyforge.org/' %>
<%= link_to 'about Rack', 'http://rack.rubyforge.org/doc/' %>.</p>

<h2>How you can help</h2>

<div class="steps">
  <h3>You can join CodeRack in 3 easy steps:</h3>
  
  <ol>
    <li>Create interesting Rack middleware solving a problem that you or someone else has.</li>
    <li>Put your code on <%= link_to 'GitHub', 'http://github.com' %> or
    <%= link_to 'Gist', 'http://gist.github.com' %>. You can also prepare a gem and upload it
    to <%= link_to 'rubygems.org', 'http://rubygems.org' %>.</li>
    <li>Add your middleware <%= link_to 'here', '/middlewares/new' %>.</li>
  </ol>
</div>
